<?php

/*
 * Environment configuration file
 * 
 * Steps:
 * Copy the file to env.php in the same folder
 * Uncomment the defined constants and change the values to fit your own environment
 */


//define('DB_HOST','127.0.0.1');
//define('DB_DATABASE','it380');
//define('DB_USERNAME','root');
//define('DB_PASSWORD','');